################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/Connect2Game/bin/Debug/net8.0
/server/Connect2Game/.vs/Connect2Game
/server/Connect2Game/obj
client/connect2game/yarn.lock
